<div ng-controller="restaurantController">
    <div class="container" ng-init="load()">
        <h2>Restaurantes cadastrados</h2>
        <a href="#/restaurantes/create" class="btn btn-primary">Novo</a>
        <table class="table table-bordered">
            <tr>
                <th>Nome</th>
                <th>Bairro</th>
                <th>Endereço</th>
                <th>Ação</th>
            </tr>
            <tr ng-repeat="rest in restaurants">
                <td>{{rest.Name}}</td>
                <td>{{rest.Adress}}</td>
                <td>{{rest.Neighborhood}}</td>
                <td>
                    <a href="#/restaurantes/edit/{{rest.Id}}" class="btn btn-default btn-sm">Editar</a>
                    <button ng-click="details()" class="btn btn-warning btn-sm">Detalhes</button>
                    <button ng-click="remove(rest.Id)" class="btn btn-danger btn-sm">Remover</button>
                </td>
            </tr>
        </table>
    </div>
</div>