<div ng-controller="pollController">
    <div class="container" ng-init="load()">
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
        <ul class="list-group">
            <li ng-repeat="rest in available" class="list-group-item" ng-click="click(rest.Restaurant)" ng-class="{ active: selected == rest.Restaurant.Id }">
                <span class="badge" style="font-size: 18px">{{ rest.Votes }}</span>
                {{ rest.Restaurant.Name }}
            </li>
        </ul>
        <div ng-if="enabled">
            <div style="text-align: center">
                <button class="btn btn-primary" ng-disabled="disabled" ng-click="votar()">{{ btnValue }}</button>
            </div><br />
            <div class="alert alert-warning" ng-if="message">
                {{ response }}
            </div>
        </div>
    </div>
</div>